@import "./mixins";

$c-p: #f17629;
$c-s: #000;
$c-w: #ffffff;

$c-b: #706e57;

$box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);

$black: #333;
$white: #fff;
$gold: gold;
$light-color: #666;
$light-bg: #eee;
$border: 0.2rem solid $black;
